body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./img/background.jpg');
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Stick the image to the bottom center of the page and make it non-movable no matter what elements are rendered on the screen*/
img {
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  min-height: 392;
  width: auto;
  height: auto;
}